.snapshot-main {
    width: 60%;
    margin-left: 100px;
}

.snapshot-main h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    margin-left: 15px;
}

.snapshot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.snapshot-jobs-information {
    background-repeat: no-repeat;
    background-position: 26px 11px;
    background-size: 40px 40px;
    height: 4rem;
    padding: 0.1rem 10px;
    background-color: #fff;
    border-radius: 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.job-type-name {
    font-size: 14px;
    text-align: left;
    margin-bottom: 0;
    text-decoration: none;
    color: var(--clr-black);
}

.job-type-count {
    font-size: 20px;
    color: var(--clr-primary-4);
    text-align: left;
    width: 100%;
}

.snapshot-jobs-information > .image {
    background: #d4e5ff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.snapshot-jobs-information:nth-child(1) .image div {
    height: 33px;
    width: 33px;
    background: url(../../images/eJobs.png) no-repeat;
}

.snapshot-jobs-information:nth-child(2) .image div {
    height: 33px;
    width: 33px;
    background: url(../../images/eJobs.png) no-repeat;
}

.snapshot-jobs-information:nth-child(3) .image div {
    height: 33px;
    width: 33px;
    background: url(../../images/appliedJobs.png) no-repeat;
}

.snapshot-jobs-information .arrow {
    background: url(../../images/arrow.png) no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}

.jobs-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8px;
    margin-left: -10px;
}